<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Panier | ORINOCAM</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>

  <body>
    <!--!NAVBAR-->
    <div class="flex flex-col bg-platinum">
      <header class="container mx-auto p-3 merriweather oxford font-medium">
        <nav class="flex flex-col md:flex-row md:justify-between">
          <div class="flex flex-row justify-between">
            <a
              href="../index.html"
              class="my-auto w-auto uppercase text-2xl montserrat cursor-pointer hover:text-yellow-500 transition"
              >Orinocam</a
            >
            <p id="menuBtn" class="md:hidden">
              <i class="fas fa-bars fa-2x cursor-pointer"></i>
            </p>
          </div>
          <ul
            class="hidden md:flex md:flex-row text-center transition"
            id="mobileMenu"
          >
            <li
              class="py-2 md:pr-5 uppercase text-l cursor-pointer hover:text-yellow-500 transition"
            >
              <a href="../index.html"> Accueil </a>
            </li>
            <li
              class="py-2 md:pr-5 uppercase text-l cursor-pointer hover:text-yellow-500 transition"
            >
              <a href="../index.html"> Nos produits </a>
            </li>
            <li
              class="py-2 md:pr-5 uppercase text-l group cursor-pointer hover:text-yellow-500 transition"
            >
              <a href="#">
                <i
                  class="relative group-hover:text-yellow-500 fas fa-shopping-cart transition"
                  ><div
                    id="cart-qty"
                    class="group-hover:text-white transition"
                  ></div
                ></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <!--!END NAVBAR-->

    <!--!CART-->
    <div class="container mx-auto flex flex-col md:flex-row">
      <div class="container w-full md:w-1/2 lg:w-2/3">
        <div class="flex flex-col bg-white rounded m-4 p-4 shadow-md">
          <p class="uppercase text-2xl font-bold montserrat"> Mon panier </p>

          <div id="cart-products"></div>

          <hr class="mt-4" />
          <section class="flex flex-row justify-between pt-4">
            <h4
              class="flex items-center uppercase montserrat font-medium text-l"
            >
              Vider le panier
            </h4>
            <div class="self-end">
              <button id="trash-btn">
                <i
                  class="far fa-trash-alt fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"
                ></i>
              </button>
            </div>
          </section>

          <hr class="mt-4" />
          <section class="flex flex-row justify-between pt-4">
            <h4 class="uppercase montserrat font-bold text-xl"> Sous-total </h4>
            <p class="merriweather text-xl font-medium" id="cart-total"></p>
          </section>
        </div>
      </div>
      <!--!END CART-->

      <!--!FORM-->
      <div>
        <div
          class="flex flex-col items-center bg-white rounded w-auto lg:w-80 px-4 m-4 shadow-md"
        >
          <p class="py-2 text-2xl merriweather"> Formulaire de commande </p>
          <form action="" method="" class="montserrat" id="form" novalidate>
            <div class="py-2">
              <input
                class="w-full px-2 border-b focus:border-yellow-500 bg-transparent border-gray-500 p-1 transition-colors duration-300 ease-in-out focus:outline-none"
                type="text"
                name="firstname"
                placeholder="Prénom"
                id="firstname"
                minlength="2"
                required
              />
            </div>
            <div class="py-2 my-4">
              <input
                class="w-full px-2 border-b focus:border-yellow-500 bg-transparent border-gray-500 p-1 transition-colors duration-300 ease-in-out focus:outline-none"
                type="text"
                name="lastname"
                placeholder="Nom"
                id="lastname"
                minlength="3"
                required
              />
            </div>
            <div class="py-2 my-4">
              <input
                class="w-full px-2 border-b focus:border-yellow-500 bg-transparent border-gray-500 p-1 transition-colors duration-300 ease-in-out focus:outline-none"
                type="text"
                name="address"
                placeholder="Adresse"
                id="address"
                minlength="5"
                required
              />
            </div>
            <div class="py-2 my-4">
              <input
                class="w-full px-2 border-b focus:border-yellow-500 bg-transparent border-gray-500 p-1 transition-colors duration-300 ease-in-out focus:outline-none"
                type="text"
                name="city"
                placeholder="Ville"
                id="city"
                minlength="3"
                required
              />
            </div>
            <div class="py-2 my-4">
              <input
                class="w-full px-2 border-b focus:border-yellow-500 bg-transparent border-gray-500 p-1 transition-colors duration-300 ease-in-out focus:outline-none"
                type="email"
                name="email"
                placeholder="E-Mail"
                id="email"
                required
              />
            </div>
            <button
              type="submit"
              id="order-btn"
              class="ring-4 ring-black bg-white mx-auto my-4 p-4 w-72 text-black font-semibold text-xl uppercase montserrat hover:bg-black hover:text-white transition focus:outline-none"
            >
              Commander
            </button>
          </form>
        </div>
      </div>
      <!--!END FORM-->
    </div>

    <!--!FOOTER-->
    <footer class="bg-oxford">
      <div
        class="container mx-auto p-4 montserrat platinum text-xs md:flex-row md:justify-around"
      >
        <div class="flex flex-col md:text-center">
          <ul class="uppercase flex flex-col lg:flex-row md:justify-center">
            <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
              <a href="./views/nos-produits.html"> Découvrez nos produits </a>
            </li>
            <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
              <a href="#"> Conditions générales de vente </a>
            </li>
            <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
              <a href="#"> Politique de confidentialité </a>
            </li>
            <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
              <a href="#"> FAQ </a>
            </li>
            <li class="pb-1 hover:text-yellow-500 transition">
              <a href="#"> Contactez-nous </a>
            </li>
          </ul>

          <div class="py-2 md:py-4">
            <h3 class="mb-2">Suivez-nous sur nos réseaux !</h3>
            <a href="#">
              <i
                class="fab fa-facebook-square fa-2x mr-2 hover:text-yellow-500 transition"
              ></i>
            </a>
            <a href="#">
              <i
                class="fab fa-twitter-square fa-2x mr-2 hover:text-yellow-500 transition"
              ></i>
            </a>
            <a href="#">
              <i
                class="fab fa-instagram-square fa-2x hover:text-yellow-500 transition"
              ></i>
            </a>
          </div>
        </div>
        <div class="flex pt-2 md:justify-center">
          <p class="">
            <span class="uppercase">Orinocam</span> | © 2021 Tous droits
            réservés
          </p>
        </div>
      </div>
    </footer>
    <!--!FOOTER-->

    <script src="../js/Navbar.js"></script>
    <script src="../js/Products.js"></script>
    <script src="../js/SingleProduct.js"></script>
    <script src="../js/Cart.js"></script>
    <script src="../js/Form.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
