<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nos produits | ORINOCAM</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css" integrity="sha512-wl80ucxCRpLkfaCnbM88y4AxnutbGk327762eM9E/rRTvY/ZGAHWMZrYUq66VQBYMIYDFpDdJAOGSLyIPHZ2IQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/style.css">
</head>  

<body>
    <section class="flex flex-col bg-platinum">
        <div class="shadow-md">
            <header class="container mx-auto p-3 merriweather oxford font-medium">
                <nav class="flex flex-col md:flex-row md:justify-between">
                    <div class="flex flex-row justify-between">
                        <a href="../index.html" class="my-auto w-auto uppercase text-2xl montserrat cursor-pointer hover:text-yellow-500 transition">Orinocam</a>
                        <p id="menuBtn" class="md:hidden">
                            <i class="fas fa-bars fa-2x cursor-pointer"></i>
                        </p>
                    </div>
                    <ul class="hidden md:flex md:flex-row text-center transition" id="mobileMenu">
                        <li class="py-4 md:pr-5 uppercase text-l cursor-pointer hover:text-yellow-500 transition">
                            <a href="../index.html">
                                Accueil
                            </a>
                        </li>
                        <li class="py-4 md:pr-5 uppercase text-l cursor-pointer hover:text-yellow-500 transition">
                            <a href="./nos-produits.html">
                                Nos produits
                            </a>
                        </li>
                        <li class="py-4 md:pr-5 uppercase text-l cursor-pointer hover:text-yellow-500 transition">
                            <a href="mon-panier.html">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </section>

    <h1></h1>


    <main class="bg-gray-200">
        <!-- 
            <figure class="flex flex-col rounded-md bg-white shadow-md mt-4 p-4 w-80 lg:m-4">
                <img src="../../images/vcam_1.jpg" class="w-auto h-auto object-cover rounded-md" alt="Photo d'une caméra vintage de la marque Zeiss">
                <figcaption class="flex flex-col">
                    <h2 class="text-2xl pt-2 montserrat">
                        Zurss 50S
                    </h2>
                    <div class="flex flex-row justify-between items-center mt-2">
                        <h3 class="text-xl font-medium merriweather">
                            499.00€
                        </h3>
                        <button>
                            <i class="fas fa-plus fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"></i>
                        </button>
                    </div>
                </figcaption>
            </figure>
            
            <figure class="flex flex-col rounded-md bg-white shadow-md mt-4 p-4 w-80 lg:m-4">
                <img src="../../images/vcam_2.jpg" class="w-auto h-auto object-cover rounded-md" alt="Photo d'une caméra vintage de la marque Zeiss">
                <figcaption class="flex flex-col">
                    <h2 class="text-2xl pt-2 montserrat">
                        Hirsch 400DTS
                    </h2>
                    <div class="flex flex-row justify-between items-center mt-2">
                        <h3 class="text-xl font-medium merriweather">
                            3099.00€
                        </h3>
                        <button>
                            <i class="fas fa-plus fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"></i>
                        </button>
                    </div>
                </figcaption>
            </figure>
            
            <figure class="flex flex-col rounded-md bg-white shadow-md mt-4 p-4 w-80 lg:m-4">
                <img src="../../images/vcam_3.jpg" class="w-auto h-auto object-cover rounded-md" alt="Photo d'une caméra vintage de la marque Zeiss">
                <figcaption class="flex flex-col">
                    <h2 class="text-2xl pt-2 montserrat">
                        Franck JS 105
                    </h2>
                    <div class="flex flex-row justify-between items-center mt-2">
                        <h3 class="text-xl font-medium merriweather">
                            2099.00€
                        </h3>
                        <button>
                            <i class="fas fa-plus fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"></i>
                        </button>
                    </div>
                </figcaption>
            </figure>
            
            <figure class="flex flex-col rounded-md bg-white shadow-md mt-4 p-4 w-80 lg:m-4">
                <img src="../../images/vcam_4.jpg" class="w-auto h-auto object-cover rounded-md" alt="Photo d'une caméra vintage de la marque Zeiss">
                <figcaption class="flex flex-col">
                    <h2 class="text-2xl pt-2 montserrat">
                        Kuros TTS
                    </h2>
                    <div class="flex flex-row justify-between items-center mt-2">
                        <h3 class="text-xl font-medium merriweather">
                            1599.00€
                        </h3>
                        <button>
                            <i class="fas fa-plus fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"></i>
                        </button>
                    </div>
                </figcaption>
            </figure>
            
            <figure class="flex flex-col rounded-md bg-white shadow-md mt-4 p-4 w-80 lg:m-4">
                <img src="../../images/vcam_5.jpg" class="w-auto h-auto object-cover rounded-md" alt="Photo d'une caméra vintage de la marque Zeiss">
                <figcaption class="flex flex-col">
                    <h2 class="text-2xl pt-2 montserrat">
                        Katatone
                    </h2>
                    <div class="flex flex-row justify-between items-center mt-2">
                        <h3 class="text-xl font-medium merriweather">
                            599.00€
                        </h3>
                        <button>
                            <i class="fas fa-plus fa-2x text-gray-600 hover:text-yellow-500 transition focus:border-none"></i>
                        </button>
                    </div>
                </figcaption>
            </figure>
        -->
            
        <div id="product-details" class="flex flex-col flex-wrap items-center lg:flex-row">
        </div>
            
    </main>
        
    <footer class="bg-oxford shadow-inner">
        <div class="container mx-auto p-4 montserrat platinum text-xs md:flex-row md:justify-around">
            <div class="flex flex-col md:text-center">
                <ul class="uppercase flex flex-col lg:flex-row md:justify-center">
                    <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
                    <a href="./playground.html">
                        Découvrez nos produits
                    </a>
                    </li>
                    <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
                        <a href="#">
                            Conditions générales de vente
                        </a>
                    </li>
                    <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
                        <a href="#">
                            Politique de confidentialité
                        </a>
                    </li>
                    <li class="pb-1 hover:text-yellow-500 transition lg:mr-4">
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                    <li class="pb-1 hover:text-yellow-500 transition">
                        <a href="#">
                            Contactez-nous
                        </a>
                    </li>
                </ul>
                
                <div class="py-2 md:py-4">
                    <h3 class="mb-2">Suivez-nous sur nos réseaux !</h3>
                    <a href="#">
                        <i class="fab fa-facebook-square fa-2x mr-2 hover:text-yellow-500 transition"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter-square fa-2x mr-2 hover:text-yellow-500 transition"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram-square fa-2x hover:text-yellow-500 transition"></i>
                    </a>
                </div>
            </div>
            <div class="flex pt-2 md:justify-center">
                <p class="">
                    <span class="uppercase">Orinocam</span> | © 2021 Tous droits réservés
                </p>
            </div>
        </div>
    </footer>
        
    <script src="../js/Navbar.js"></script>    
    <script src="../js/Products.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>